<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true" internalLogFile="logs/nlog.log">
  <!--
  See http://nlog-project.org/wiki/Configuration_file
  for information on customizing logging rules and outputs.
   -->

  <!-- 输出格式 -->
  <variable name="ExceptionMsg" value="${exception:format=type,message,method:maxInnerExceptionLevel=5:innerFormat=shortType,message,method}" />
  <variable name="ErrMsg" value="${time} [${threadid}] [${level}] - ${message} ${ExceptionMsg}" />
  <variable name="BasicLayout" value="${time} [${threadid}] [${level}] - ${message} ${onexception:inner=${ExceptionMsg}}" />
  <variable name="ReportLayout" value="测试##${threadid}##${exception}##${message}##${onexception:inner=${ExceptionMsg}}" />

  <targets>

    <target name="DefaultLog" xsi:type="AsyncWrapper">
      <target xsi:type="RetryingWrapper">
        <target xsi:type="File" archiveAboveSize="10240000" fileName="${basedir}/logs/${date:format=yyyyMM}/${shortdate}.log" layout="${BasicLayout}" />
      </target>
    </target>
    <target name="ErrorLog" xsi:type="AsyncWrapper">
      <target xsi:type="RetryingWrapper">
        <target xsi:type="File" archiveAboveSize="10240000" fileName="${basedir}/logs/${date:format=yyyyMM}/${shortdate}_Error.log" layout="${ErrMsg}" />
      </target>
    </target>

    <target name="ErrorReport" xsi:type="AsyncWrapper">
      <target xsi:type="LogReceiverService"  endpointAddress="http://exceptionservice.service.consul/NLogReceiveWCFService.svc" clientId="Layout">
        <parameter layout="${ReportLayout}" name="Layout" type="System.Type" />
      </target>
    </target>
  </targets>
  <rules>
    <logger name="*" minlevel="Error" writeTo="ErrorLog" />
    <!--<logger name="*" minlevel="Error" writeTo="ErrorReport" />-->
    <logger name="*" minlevel="Trace" writeTo="DefaultLog" />
  </rules>
</nlog>