<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="accessDb" value="Provider=Microsoft.Jet.OLEDB.4.0 ;Data Source=G:\\Temp\\铁科院\\test.mdb"/>

    <add key ="basicDb" value="db\\basic.mdb"/>

	  <add key="showDataList" value="0"/>

	  <add key="citFileName" value="CitData_160821175616_GJHS.cit"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
